html,body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

p {
  line-height: 1.75;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  background-color: #fed136;
  border: none;
}

::-moz-selection {
  background: #fed136;
  text-shadow: none;
}

::selection {
  background: #fed136;
  text-shadow: none;
}

img::-moz-selection {
  background: transparent;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

.page-section {
  padding: 6rem;
}

.navbar-brand img{
  height: 50px;
}
@media (max-width: 768px) {
  .navbar-brand img {
    height: 40px;
  }
}
@media (max-width: 425px) {
  .page-section{
    padding: 3rem 1rem;
  }
  html{
    font-size: 10px;
  }
}
