html,body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: "Monsterrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

p {
  line-height: 1.75;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  background-color: #fed136;
  border: none;
}

::-moz-selection {
  background: #fed136;
  text-shadow: none;
}

::selection {
  background: #fed136;
  text-shadow: none;
}

img::-moz-selection {
  background: transparent;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

.page-section {
  padding: 6rem;
}

.navbar-brand img{
  height: 50px;
}
@media (max-width: 768px) {
  .navbar-brand img {
    height: 40px;
  }
}
@media (max-width: 425px) {
  .page-section{
    padding: 3rem 1rem;
  }
  html{
    font-size: 10px;
  }
}

@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item .dropdown-menu{ margin-top: 0; }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
}
