html,body {
  overflow-x: hidden;
  font-size: 16px;
  scroll-behavior: smooth;
  font-family: "Monsterrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

p {
  line-height: 1.75;
}

.navbar-nav > li > .dropdown-menu a:hover { 
  background-color: #fed136;
  color: white;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:focus {
  background-color: #fed136 !important;
  border: none;
}

::-moz-selection, ::selection {
  background: #fed136;
  text-shadow: none;
}

img::-moz-selection, img::selection, img::-moz-selection {
  background: transparent;
}

.page-section {
  padding: 6rem;
}

.navbar-brand img{
  height: 50px;
}
@media (max-width: 768px) {
  .navbar-brand img {
    height: 40px;
  }
  .page-section{
    padding: 3rem 1rem;
  }
}
@media (max-width: 425px) {
  html,body{
    font-size: 14px;
  }
}

@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item .dropdown-menu{ margin-top: 0; }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
}
